body {
  font-family: sans-serif;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 30px;
}

li {
  font-size: 20px;
}

p {
  font-size: 20px;
}


header {
  text-align: center;
  /* background-color: #92caf0; */
}

.flexbox {
  display: flex;
  flex-direction: row;
}

.flex-item{
  flex-grow: 1;
}

#contact {
  background-color: #c1b9b3;
  /* color: #6b564e; */
}
